@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'), url('../fonts/OpenSansRegular.woff2') format('woff2'), url('../fonts/OpenSansRegular.woff') format('woff'), url('../fonts/OpenSansRegular.ttf') format('truetype'), url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
body {
  margin: 0;
  padding: 0;
}
.portfolio {
  background: url(../img/modal-bg.jpg) center no-repeat;
}
.portfolio-text h2 {
  margin-top: 40px;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
}
.portfolio-text h2:hover {
  color: #ff5274;
}
.portfolio-line-block {
  margin: 40px;
  width: 300px;
  height: 300px;
}
.portfolio-line-block img {
  width: 300px;
}
.portfolio-line-block h3,
.portfolio-line-block p {
  width: 300px;
}
@media (max-width: 1199px) {
  .header-nav li {
    display: inline-block;
    text-align: center;
    padding: 30px 5px 20px 5px;
  }
  .header-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
  .header-nav li a:hover {
    color: #ff5274;
  }
  .header-text-main h1 {
    display: inline-block;
    margin-top: 180px;
    font-size: 48px;
    font-weight: 600;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-text-main h3 {
    margin-top: 26px;
    font-size: 22px;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-btn-1 {
    display: inline-block;
    margin: 40px 10px;
    padding: 12px;
    background-color: #ff5274;
    border-radius: 15px;
  }
  .header-btn-1 a {
    font-size: 14px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-1:hover {
    background-color: #d84b65;
  }
  .header-btn-2 {
    display: inline-block;
    margin: 40px 10px;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ff5274;
    border-radius: 15px;
  }
  .header-btn-2 a {
    font-size: 14px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-2:hover {
    background-color: #d84b65;
    border: 1px solid #d84b65;
  }
}
@media (max-width: 991px) {
  .header h2 {
    margin: 0 0 20px 0;
    padding: 20px 20px 20px 40px;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-nav li {
    display: inline-block;
    padding: 30px 2px 20px 0;
  }
  .header-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
  .header-nav li a:hover {
    color: #ff5274;
  }
  .header-nav-reg {
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 28px;
  }
  .header-text-main {
    text-align: center;
  }
  .header-text-main h1 {
    display: inline-block;
    margin-top: 140px;
    font-size: 45px;
    font-weight: 900;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-text-main h1:hover {
    color: #ff5274;
  }
  .header-text-main h3 {
    margin-top: 35px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .header-nav {
    text-align: center;
  }
  .header-nav li {
    display: inline-block;
    padding: 30px 5px 20px 5px;
  }
  .header-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
  }
  .header-nav li a:hover {
    color: #ff5274;
  }
}
@media (max-width: 550px) {
  .header-nav {
    display: none;
  }
  .header-text-main {
    text-align: center;
  }
  .header-text-main h1 {
    display: inline-block;
    margin-top: 130px;
    font-size: 38px;
    font-weight: 900;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-text-main h1:hover {
    color: #ff5274;
  }
  .header-text-main h3 {
    margin-top: 35px;
    font-size: 16px;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-btn-1 {
    display: inline-block;
    margin: 50px 8px;
    padding: 10px 6px;
    background-color: #ff5274;
    border-radius: 15px;
  }
  .header-btn-1 a {
    font-size: 16px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-1:hover {
    background-color: #d84b65;
  }
  .header-btn-2 {
    display: inline-block;
    margin: 50px 8px;
    padding: 10px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ff5274;
    border-radius: 15px;
  }
  .header-btn-2 a {
    font-size: 16px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-2:hover {
    background-color: #d84b65;
    border: 1px solid #d84b65;
  }
  .header-bot {
    display: block;
    text-align: center;
  }
  .header-bot img {
    display: inline-block;
    width: 10%;
  }
}
@media (max-width: 400px) {
  .header-nav {
    display: none;
  }
  .header-menu h2 {
    margin: 20px 0;
    padding: 0;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-menu h2:hover {
    color: #ff5274;
  }
  .header-text-main {
    text-align: center;
  }
  .header-text-main h1 {
    display: inline-block;
    margin-top: 120px;
    font-size: 36px;
    font-weight: 900;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-text-main h1:hover {
    color: #ff5274;
  }
  .header-text-main h3 {
    margin-top: 35px;
    font-size: 16px;
    line-height: 20px;
    font-family: 'OpenSansRegular', sans-serif;
    color: #fff;
  }
  .header-btn-1 {
    display: inline-block;
    margin: 20px 8px;
    padding: 10px 6px;
    background-color: #ff5274;
    border-radius: 15px;
  }
  .header-btn-1 a {
    font-size: 16px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-1:hover {
    background-color: #d84b65;
  }
  .header-btn-2 {
    display: inline-block;
    margin: 20px 8px;
    padding: 10px 6px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #ff5274;
    border-radius: 15px;
  }
  .header-btn-2 a {
    font-size: 16px;
    font-family: 'OpenSansRegular', sans-serif;
    padding: 30px;
    text-decoration: none;
    color: #fff;
  }
  .header-btn-2:hover {
    background-color: #d84b65;
    border: 1px solid #d84b65;
  }
  .header-bot {
    display: block;
    text-align: center;
  }
  .header-bot img {
    display: inline-block;
    width: 10%;
  }
}
