@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('../fonts/BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BebasNeueRegular.woff') format('woff'),
		url('../fonts/BebasNeueRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster.eot');
	src: url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lobster.woff') format('woff'),
		url('../fonts/Lobster.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
