/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Open Sans';
}
.header {
  height: 100vh;
  text-align: center;
  width: 100%;
  display: table;
}
.header-line {
  text-align: center;
}
.header-line img {
  display: inline-block;
  width: 45%;
  margin: 100px 0;
  padding: 15px 15px;
  background-color: rgba(161, 161, 161, 0.3);
  border-radius: 10px;
}
.header-box {
  display: block;
}
.header-box a {
  top: -40px;
  padding: 0 50px;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 1px 1px 2px #397FB2;
  color: #000024;
  text-decoration: none;
}
.header-box a:hover {
  text-shadow: 1px 1px 2px #000024;
  color: #2E6B98;
}
.header video {
  position: relative;
}
.header-box-2 {
  margin-top: 60px;
  padding: 10px;
  display: inline-block;
  text-shadow: 1px 1px 2px #397FB2;
  color: #000024;
  background-color: rgba(161, 161, 161, 0.6);
  border-radius: 10px;
}
.header-box-2 h2 {
  padding: 0 50px;
  font-size: 80px;
}
.header-line-2 h3 {
  padding: 0 30px;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 70px;
  font-size: 28px;
  font-weight: 600;
  color: #000024;
  background-color: rgba(161, 161, 161, 0.6);
  border-radius: 20px;
}
.header-btn {
  display: block;
  text-align: center;
}
.header-btn button {
  padding: 12px 40px;
  font-size: 28px;
  font-weight: 900;
  text-shadow: 1px 1px 2px #397FB2;
  color: #000024;
  background-color: rgba(161, 161, 161, 0.4);
  border: 2px solid #000024;
  border-radius: 20px;
}
.header-btn button:hover {
  -webkit-box-shadow: 1px 1px 1px 2px #397FB2;
          box-shadow: 1px 1px 1px 2px #397FB2;
}
.header-botton {
  margin-top: 35px;
}
.header-botton img {
  padding: 5px;
  width: 4%;
}
.header-botton img:hover {
  border: 2px solid #000024;
  -webkit-box-shadow: 1px 1px 1px #397FB2;
          box-shadow: 1px 1px 1px #397FB2;
  border-radius: 20px;
}
#why-we {
  text-align: center;
  background: url(../img/header_block_pic.jpg) center;
}
#why-we h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}
#why-we .line {
  display: inline-block;
  margin: 30px;
  width: 180px;
  height: 1px;
  text-align: center;
  color: red;
  border: 1px solid #FF3232;
  border-radius: 50%;
}
.why {
  display: inline-block;
  text-align: center;
}
.why-block {
  display: block;
  max-height: 306px;
  margin: 0 0 0 90px;
  padding: 20px 0 0 80px;
}
.why-block h3 {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
}
.why-block p {
  font-size: 18px;
}
.why-images {
  display: block;
  max-height: 306px;
  margin: 0 0 0 100px;
  padding: 0;
}
.header-form {
  width: 100%;
  height: 500px;
  text-align: center;
  background: url(../img/gavan/sauna-devochki.jpg) center center no-repeat;
  background-size: cover;
}
.header-form-forma {
  margin: 50px 0 50px 150px;
}
.header-form-forma .checkbox {
  display: inline-block;
  padding: 0;
  margin: 0 15px 0 0;
  width: 15px;
  height: 15px;
}
.header-form-forma button {
  margin: 30px;
  padding: 8px 25px;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid #FF3232;
  background-color: #FF3232;
  border-radius: 10px;
}
.header-form-forma button a {
  color: #fff;
  text-decoration: none;
}
.header-form form {
  width: 300px;
  height: 400px;
  background-color: #fff;
  background: url(../img/header_block_pic.jpg) center no-repeat;
  -webkit-box-shadow: 5px 5px 5px #397FB2;
          box-shadow: 5px 5px 5px #397FB2;
  border-radius: 10px;
}
.header-form form h3 {
  padding: 15px 5px 25px 5px;
  font-size: 28px;
  font-weight: 600;
}
.header-form form h4 {
  font-size: 22px;
  font-weight: 600;
}
.header-form form p {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}
.gellery-text .line {
  display: inline-block;
  margin: 30px;
  width: 180px;
  height: 1px;
  text-align: center;
  color: red;
  border: 1px solid #FF3232;
  border-radius: 50%;
}
.gellery-text h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.gellery-imag {
  margin-bottom: 20px;
}
.gellery-imag img {
  max-width: 280px;
}
.gellery-btn button {
  margin: 20px;
  padding: 8px 25px;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid #FF3232;
  background-color: #FF3232;
  border-radius: 10px;
}
.gellery-btn button a {
  color: #fff;
  text-decoration: none;
}
.gellery-btn button:hover {
  color: #fff;
  background-color: #FF3232;
}
.uniqueness {
  width: 100%;
  height: 660px;
  background: url(../img/fon4.jpg) center center no-repeat;
  background: cover;
}
.uniqueness-line {
  display: inline-block;
  margin: 30px;
  width: 180px;
  height: 1px;
  text-align: center;
  color: red;
  border: 1px solid #fff;
  border-radius: 50%;
}
.uniqueness-line-white {
  text-align: center;
}
.uniqueness-line-white .ruler {
  display: inline-block;
  margin: 10px;
  width: 280px;
  height: 1px;
  color: red;
  border: 1px solid #fff;
  border-radius: 50%;
}
.uniqueness h2 {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.uniqueness img {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
}
.uniqueness p {
  display: inline-block;
  height: 50px;
  padding-left: 30px;
  font-size: 20px;
  color: #fff;
}
.uniqueness button {
  margin: 20px;
  padding: 8px 25px;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid #FF3232;
  background-color: #FF3232;
  border-radius: 10px;
}
.uniqueness button a {
  color: #fff;
  text-decoration: none;
}
.uniqueness button:hover {
  color: #fff;
  background-color: #FF3232;
}
.uniqueness:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.contact {
  background: url(../img/header_block_pic.jpg) center no-repeat;
}
.contact h2 {
  font-size: 28px;
  font-weight: 600;
}
.contact .line {
  display: inline-block;
  margin: 30px;
  width: 180px;
  height: 1px;
  text-align: center;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
}
.footer {
  background: url(../img/header_block_pic.jpg) center no-repeat;
  height: 150px;
}
.footer img {
  margin-top: 45px;
  width: 250px;
}
.footer-text {
  margin-top: 75px;
  text-align: center;
  font-weight: bold;
}
.footer-text h4 {
  display: inline-block;
  font-size: 18px;
}
.footer-text a {
  display: inline-block;
  font-size: 18px;
}
@media (max-width: 1169px) {
  .header-box a {
    font-size: 28px;
  }
  .header-line img {
    padding: 20px 10px;
  }
  .header-box-2 h2 {
    font-size: 65px;
  }
  .header-line-2 h3 {
    font-size: 22px;
  }
  .header-btn button {
    padding: 10px 30px;
    font-size: 22px;
  }
  #why-we h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
  }
  #why-we .line {
    display: inline-block;
    margin: 25px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #FF3232;
    border-radius: 50%;
  }
  .why {
    margin: 20px;
  }
  .why-block {
    margin: 0;
    padding: 0;
  }
  .why-block h3 {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
  }
  .why-block p {
    padding: 20px;
    font-size: 18px;
  }
  .why-block img {
    width: 30px;
  }
  .why-images {
    margin: 0;
    padding: 0;
  }
  .why-images img {
    margin: 0;
    width: 320px;
  }
  .gellery-text .line {
    display: inline-block;
    margin: 30px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #FF3232;
    border-radius: 50%;
  }
  .gellery-text h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .gellery-imag {
    margin-bottom: 20px;
  }
  .gellery-imag img {
    max-width: 220px;
  }
  .gellery-btn button {
    margin: 20px;
    padding: 8px 25px;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #FF3232;
    background-color: #FF3232;
    border-radius: 10px;
  }
  .gellery-btn button a {
    color: #fff;
    text-decoration: none;
  }
  .gellery-btn button:hover {
    color: #fff;
    background-color: #FF3232;
  }
}
@media (max-width: 991px) {
  .header-box a {
    padding: 0 30px;
    font-size: 24px;
  }
  .header-line img {
    padding: 15px 8px;
  }
  .header-box-2 h2 {
    font-size: 55px;
  }
  .header-line-2 h3 {
    font-size: 20px;
  }
  .header-btn button {
    padding: 10px 30px;
    font-size: 22px;
  }
  .header-botton img {
    width: 5%;
  }
  #why-we h2 {
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
  }
  #why-we .line {
    display: inline-block;
    margin: 25px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #FF3232;
    border-radius: 50%;
  }
  .why {
    display: inline-block;
    text-align: center;
  }
  .why-block {
    display: block;
    margin: 0;
    padding: 0;
  }
  .why-block h3 {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 900;
    line-height: 26px;
  }
  .why-block p {
    font-size: 18px;
  }
  .why-images {
    display: block;
    margin: 0;
    padding: 0;
  }
  .why-images img {
    margin: 0;
    width: 335px;
  }
  .gellery-text .line {
    display: inline-block;
    margin: 30px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #FF3232;
    border-radius: 50%;
  }
  .gellery-text h2 {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .gellery-imag {
    margin-bottom: 0;
  }
  .gellery-imag img {
    margin-bottom: 20px;
    max-width: 260px;
  }
  .gellery-btn button {
    margin: 20px;
    padding: 8px 25px;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #FF3232;
    background-color: #FF3232;
    border-radius: 10px;
  }
  .gellery-btn button a {
    color: #fff;
    text-decoration: none;
  }
  .gellery-btn button:hover {
    color: #fff;
    background-color: #FF3232;
  }
  .uniqueness {
    width: 100%;
    height: 660px;
    background: url(../img/fon4.jpg) center center no-repeat;
    background: cover;
  }
  .uniqueness h2 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
  }
  .uniqueness img {
    display: inline-block;
    height: 50px;
    vertical-align: middle;
  }
  .uniqueness p {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    font-size: 16px;
    color: #fff;
  }
}
@media (max-width: 749px) {
  .header-box a {
    display: none;
  }
  .header-line img {
    width: 85%;
    padding: 10px 6px;
    margin: 100px 0 50px 0;
  }
  .header-box-2 h2 {
    font-size: 40px;
  }
  .header-line-2 h3 {
    font-size: 18px;
  }
  .header-btn button {
    padding: 8px 22px;
    font-size: 22px;
  }
  .header-botton img {
    width: 14%;
  }
  #why-we h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
  }
  #why-we .line {
    display: inline-block;
    margin: 25px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #FF3232;
    border-radius: 50%;
  }
  .why {
    text-align: center;
  }
  .why-block {
    display: block;
    margin: 8px;
    padding: 0;
    text-align: center;
  }
  .why-block h3 {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }
  .why-block p {
    font-size: 16px;
  }
  .why-images {
    display: block;
    margin: 0;
    padding: 0;
  }
  .why-images img {
    margin: 10px 0;
    width: 280px;
  }
  .header-form {
    width: 100%;
    height: 500px;
    text-align: center;
    background: url(../img/gavan/sauna-devochki.jpg) center center no-repeat;
    background-size: cover;
  }
  .header-form-forma {
    margin: 50px 0 5px 0;
  }
  .header-form-forma .checkbox {
    display: inline-block;
    padding: 0;
    margin: 0 15px 0 0;
    width: 15px;
    height: 15px;
  }
  .header-form-forma button {
    margin: 30px;
    padding: 8px 25px;
    font-size: 22px;
    font-weight: 600;
    border: 1px solid #FF3232;
    background-color: #FF3232;
    border-radius: 10px;
  }
  .header-form-forma button a {
    color: #fff;
    text-decoration: none;
  }
  .header-form form {
    width: 280px;
    height: 400px;
    background-color: #fff;
    background: url(../img/header_block_pic.jpg) center no-repeat;
    -webkit-box-shadow: 5px 5px 5px #397FB2;
            box-shadow: 5px 5px 5px #397FB2;
    border-radius: 10px;
  }
  .header-form form h3 {
    padding: 15px 5px 25px 5px;
    font-size: 28px;
    font-weight: 600;
  }
  .header-form form h4 {
    font-size: 22px;
    font-weight: 600;
  }
  .header-form form p {
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
  }
  .uniqueness {
    width: 100%;
    height: 620px;
    background: url(../img/fon4.jpg) center center no-repeat;
    background: cover;
  }
  .uniqueness-line {
    display: inline-block;
    margin: 15px;
    width: 180px;
    height: 1px;
    text-align: center;
    color: red;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .uniqueness-line-white {
    text-align: center;
  }
  .uniqueness-line-white .ruler {
    display: inline-block;
    margin: 20px 0;
    width: 280px;
    height: 1px;
    color: red;
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .uniqueness h2 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
  }
  .uniqueness img {
    display: none;
  }
  .uniqueness p {
    display: inline-block;
    width: 250px;
    height: 50px;
    padding-left: 50px;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
}
